.home_container{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
    background-color: #fff;
}
.home_container h1{
    font-size: 2.5em;
    margin-bottom: .5em;
}

.home_container h1 span{
    color: #7733ff;
    padding: 0 .2em;
}

.home_container img{
    width: 350px;
    margin: 2em 0;
}