.book_card{
    padding: 1em;
    border: 1px solid #7A7A7A;
    border-radius: 5px;
    width: 100%;
    margin: 0.5%;
}

.book_card h4{
    background-color: #222;
    color: #FFBB33;
    padding: 0.4em;
    margin-bottom: 1.3em;
    font-size: 1.3em;
}

.book_card p{
    color: #7A7A7A;
    margin-bottom: 1em;
}

.book_card p span{
    font-weight: bold;
}

.category_text{
    display: flex;
    align-items: center;
}

.category_text span{
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #CCC;
    margin-right: 5px;
}

/* CSS DE FORMATAÇÃO DOS BOTÕES DE ALTERAR/EXCLUIR */
.book_card_actions{
    margin-top: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book_card_actions a, 
.book_card_actions button{
    text-decoration: none;
    border: none;
    background-color: #FFF;
    color: #222;
    font-size: .9em;
    padding: .6em 1em;
    margin-right: 1em;
    border: 1px solid #222;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1.0s;
    cursor: pointer;
}

.book_card_actions a:hover, 
.book_card_actions button:hover{
    background-color: #FF4733;
    color: #FFF;
}