.book_card{
    padding: 1em;
    border: 1px solid #7A7A7A;
    border-radius: 5px;
    width: 100%;
    margin: 0.5%;
}

.book_card h4{
    background-color: #222;
    color: #FFBB33;
    padding: 0.4em;
    margin-bottom: 1.3em;
    font-size: 1.3em;
}

.book_card p{
    color: #7A7A7A;
    margin-bottom: 1em;
}

.book_card p span{
    font-weight: bold;
}

.category_text{
    display: flex;
    align-items: center;
}

.category_text span{
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #CCC;
    margin-right: 5px;
}